<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://global-uploads.webflow.com/632add85afcd1ac30aa74675/635823877fe98d472dcd18d7_anrok_favicon.png" rel="shortcut icon" type="image/x-icon"/>
    <style>
      body {
        padding: 0;
        margin: 0;
      }
    </style>
    {{{redocHead}}}
    {{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">{{/unless}}
  </head>
  <body>
    {{{redocHTML}}}
  </body>
</html>
